@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Redressed", sans-serif;
}
.derecha {
  text-align: right;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}
section {
  position: relative;
  /*background-color: #0162b0;*/
  background-color: #fa0575;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#ffc107, #e91e63);
  border-radius: 50%;
  transform: translate(-250px, -210px);
}
section::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: linear-gradient(#2196f3, #31ff38);
  border-radius: 50%;
  transform: translate(280px, 230px);
}

.box {
  position: relative;
  width: 90%;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 10;
  padding: 20px;
  backdrop-filter: blur(25px);
  margin: 40px 0;
}
@media only screen and (min-width: 768px) {
  .box {
    width: 550px;
  }
}
.box h3 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}
.center {
  text-align: center;
}
.content-img {
  border: 15px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 10px 0;
  overflow: hidden;
  width: 295px;
  height: 295px;
  border: 13px solid rgba(255, 255, 255, 0.5);
  border-right: 13px solid rgba(255, 255, 255, 0.2);
  border-bottom: 13px solid rgba(255, 255, 255, 0.2);
}
.content-img img {
  max-width: 100%;
  height: auto;
}
.box .list {
  position: relative;
  display: flex;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  gap: 10px;

  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  margin: 10px 0;
}
.box .list:hover {
  background: #fff;
  box-shadow: -15px 30px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  z-index: 1000;
}
.imgBox {
  border-radius: 10px;
}
.box .list .imgBox img {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 10px;
}
.box .list .content {
  color: #fff;
}

.box .list .content h4 {
  font-size: 1.4em;
  line-height: 0.95em;
  font-weight: 600;
  transform: 0.5s;
}
.box .list .content p {
  font-size: 1.2em;
  transform: 0.5s;
}
.box .list:hover .content h4,
.box .list:hover .content p {
  color: #333;
}
